params{
  meta_csv=test_data/test_meta.csv
  scan_params_config=conf/test_vit_scan_params.yml

}
process{
  withLabel:pytorch{
  container = '<wherever we end up storing containers>/<some sif for the pytorch portions of the project>'
  }
}

profiles {
  standard {
      process.executor = "local"
  }
  slurm {
      process.executor = "slurm"
      process.queue = "compute"
      process.clusterOptions = '-q batch'
      process.module = "slurm"
      process.cpus = 1
      process.time = '12:00:00'
      process.memory = '20 GB'
  }

  singularity {
    process.module = 'singularity'
    singularity.enabled = true
    singularity.autoMounts = true
  }
  conda {
    process.conda = "$baseDir/environment.yml"
  }
  test { includeConfig 'conf/test.config'}

}

executor {
    $slurm {
        submitRateLimit = "1 sec"
        queueSize=35
    }
}